<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>nz.hoku.hoddyroad.house</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/Mini/Documents/HoddyRoadMonitor 2021-11-06 08-56-43/Products/usr/local/bin/HoddyRoadMonitor</string>
		<string>--token</string>
		<string>0AoVHy3Xld8N288jgNkNamMXMn1_NNYQRCMI7x0NsUDJKQu4ftQ3B4KeEXtHkZyM6M0LMdvFKTU8wz-yxhB3ug==</string>
		<string>--delay</string>
		<string>0</string>
		<string>--verbose</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/Mini/Documents/HoddyRoadMonitor.stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/Mini/Documents/HoddyRoadMonitor.stdout</string>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
